@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sen:wght@400;700&display=swap');
@import url('./tmp/header.css');
@import url('./tmp/footer.css');

/* ----------------------------------
    Main Selectors
---------------------------------- */
.container{
    max-width: 1740px;
    margin: 0 auto;
}

body{
    display:flex; 
    flex-direction:column;
    min-height: 100vh;

    font-family: 'Sen', sans-serif; 
    color: #232536;
}

body a{
    font-family: 'Sen', sans-serif; 
    color: #232536;
}

body.lock{ overflow: hidden; }

/* footer sticking to the bottom */
main{ flex:1; }

/* ----------------------------------
    Main Selectors !!! END !!!
---------------------------------- */

/* ----------------------------------
    Heading text and p
---------------------------------- */
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    letter-spacing: 0;
}
h1{
    font-size: 48px;
    line-height: 64px;
}
h2{
    font-size: 36px;
    line-height: 48px;
}
h3{
    font-size: 28px;
    line-height: 36px;
}
h4{
    font-size: 24px;
    line-height: 32px;
}
h5{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
}
h6{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* ----------------------------------
    Heading text and p !!! END !!!
---------------------------------- */

/* ----------------------------------
    The same selectors 
    in HEADER and FOOTER 
---------------------------------- */
.logo{
    height: 28px;
    width: auto;
}

.navbar__item{
    float: left;
    margin-left: 24px; 
}

.navbar__item:first-child{ margin-left: 0; }

.navbar__link{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    padding: 3px 0;
}

.navbar__item:hover .navbar__link{
    color: #EDC14A;
    padding: 3px 0 2px;
    border-bottom: 1px solid #EDC14A;
}

.btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
    cursor: pointer;

    padding: 16px 48px;
}
/* ----------------------------------
    The same selectors 
    in HEADER and FOOTER 
    !!! END !!!
---------------------------------- */


/* ----------------------------------
    Buttons
---------------------------------- */
.btn--white{
    margin-left: 32px;
    background-color: #fff;
}
.btn--yellow{ background-color: #FFD050; }
.btn--white:hover{ background-color: #F4F0F8; }
.btn--yellow:hover{ background-color: #EDC14A; }
/* ----------------------------------
    Buttons !!! END !!!
---------------------------------- */

/* ----------------------------------
    Patten Line
---------------------------------- */
.pattern{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    display: flex;
    align-items: center;
}
.pattern__line--yellow{
    width: 75%;
    border: 12px solid #FFD050;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.pattern__line--purple{
    width: 25%;
    border: 12px solid #592EA9;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
/* ----------------------------------
    Patten Line !!! END !!!
---------------------------------- */

/* ----------------------------------
    "join to team" Block
---------------------------------- */
.join-to-team{
    text-align: center;
    max-width: 450px;
    margin: 0 auto 128px;
}
.join-to-team__description{ margin: 16px 0 32px; }
/* ----------------------------------
    "join to team" Block !!! END !!!
---------------------------------- */

/* ----------------------------------
    List Card Authors
---------------------------------- */
.list-authors{ margin: 128px 0; }

.list-authors__title,
.list-category__title{
    text-align: center;
    margin-bottom: 48px;
}

.list-authors__cards,
.list-category__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.list-authors__cards__item,
.list-category__cards__item { display: flex; }

.list-author__card{
    background-color: #F4F4F4;
    padding: 40px 28px;

    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.list-author__card:hover{ background-color: #FBF6EA; }

.list-authors__card__img{ margin: 0 auto 20px; }

.list-authors__card__img img{
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.list-author__card .contacts__links{ margin-top: 20px; }

.list-author__card .contacts__links a{ margin-left: 16px; }

@media screen and (max-width: 590px){
    .list-authors__cards{
        max-height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }
}
/* ----------------------------------
    List Card Authors !!! END !!!
---------------------------------- */

/* ----------------------------------
    Post List
---------------------------------- */
.posts__main-title{
    margin: 64px 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #6D6E76;
    text-align: left;
}
.posts__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    text-align: left;
}

.posts__item{
    display: flex;
    align-items: center;
    gap: 32px;
}
.posts__item:last-child{ margin-bottom: 0; }

.posts__img{
    flex: 0 0 30%;
	position: relative;
	min-height: 312px;
    position: relative;
}
.posts__img img{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.posts__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.posts__category {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}
.posts__title {
    margin: 20px 0 16px;
}
/* ----------------------------------
    Post List !!! END !!!
---------------------------------- */

/* ----------------------------------
    Links Paginations !!! END !!!
---------------------------------- */
.links-pagination{
    margin: 64px 0;
    text-align: center;
}
.links-pagination a{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}
.links-pagination a.links-pagination--lock{
    color: #6D6E76;
}
.links-pagination--prev{
    margin-right: 17px;
}

.links-pagination--prev::before{
    content: '< ';
}

.links-pagination--next::after{
    content: ' >';
}
/* ----------------------------------
    Links Paginations !!! END !!!
---------------------------------- */

/* ----------------------------------
    List Category
---------------------------------- */
.list-category{
    margin-bottom: 128px;
}

.list-category__cards__item{
    max-width: 296px;
}

.list-category__card{
    padding: 32px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d4d6;
    position: relative;

    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.list-category__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-category__card__img {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    background-color: #FBF6EA;
}

.list-category__card__title{
    margin: 16px 0 4px;
}

.list-category__card:hover{
    background-color: #FFD050;
    border: 1px solid #FFD050;
}
/* ----------------------------------
    List Category !!! END !!!
---------------------------------- */

.link-name{
    color: #592EA9;
}

/*-------------------------------
    BREAKPOINTS FOR CONTAINER 
-------------------------------*/
@media screen and (max-width: 1740px){
    .container{ max-width: 1540px; }
    .maxw-less-1{ max-width: 780px; }
    .maxw-less-2{ max-width: 1024px; }
}
@media screen and (max-width: 1560px){
    .container{ max-width: 1200px; }
    .maxw-less-1{ max-width: 780px; }
    .maxw-less-2{ max-width: 1024px; }
}
@media screen and (max-width: 1200px){
    .container{ max-width: 970px; }
    .maxw-less-1{ max-width: 780px; }
}
@media screen and (max-width: 992px){
    .container{ max-width: 750px; }


    .posts__text{
        width: 600px;
    }
}
@media screen and (max-width: 768px){
    .container{ 
        max-width: none;
        margin: 0 20px;
    }


    .posts__item {
        flex-direction: column;
    }
    .posts__img{
        width: 100%;
    }
    .posts__text {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    /* ----------------------------------
        Heading text and p
    ---------------------------------- */
    h1{
        font-size: 36px;
        line-height: 48px;
    }
    h2{
        font-size: 28px;
        line-height: 36px;
    }
    h3{
        font-size: 24px;
        line-height: 32px;
    }
    h4{
        font-size: 20px;
        line-height: 32px;
    }
    h5{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    h6{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
    /* ----------------------------------
        Heading text and p !!! END !!!
    ---------------------------------- */
}
@media screen and (max-width: 465px){
    .posts__img{ min-height: 250px; }
}
@media screen and (max-width: 375px){
    /* ----------------------------------
        Heading text and p
    ---------------------------------- */
    h1{
        font-size: 28px;
        line-height: 36px;
    }
    h2{
        font-size: 24px;
        line-height: 32px;
    }
    h3{
        font-size: 20px;
        line-height: 32px;
    }
    h4{
        font-size: 16px;
        line-height: 24px;
    }
    h5{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    h6{
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 3px;
    }
    /* ----------------------------------
        Heading text and p !!! END !!!
    ---------------------------------- */
}