 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@400;700&display=swap');
body{
    font-family: 'Sen', sans-serif;
}

.container{
    max-width: 1277px;
    margin: 0 auto;
}

body{ 
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
    color: #232536;
}
body a{
    color: #232536;
}

body.lock{
    overflow: hidden;
}

main{ flex:1; }

.logo{
    height: 28px;
    width: auto;
}

.navbar__item{
    float: left;
    margin-left: 24px; 
}
.navbar__item:first-child{
    margin-left: 0;
}

.navbar__link{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    padding: 3px 0;
}

.navbar__item:hover .navbar__link{
    color: #EDC14A;
    padding: 3px 0 2px;
    border-bottom: 1px solid #EDC14A;
}

.btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
    cursor: pointer;

    padding: 16px 48px;
}

.btn--white{
    margin-left: 32px;
    background-color: #fff;
}
.btn--yellow{
    background-color: #FFD050;
}

.btn--white:hover{
    background-color: #F4F0F8;
}
.btn--yellow:hover{
    background-color: #EDC14A;
}



/*-------------------------------
    BREAKPOINT FOR CONTAINER 
-------------------------------*/
@media screen and (max-width: 1740px){
    .container{
        max-width: 1540px;
    }
    .maxw-less-1{
        max-width: 780px;
    }
}
@media screen and (max-width: 1560px){
    .container{
        max-width: 1200px;
    }
    .maxw-less-1{
        max-width: 780px;
    }
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 970px;
    }
    .maxw-less-1{
        max-width: 780px;
    }
}
@media screen and (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .container{
        max-width: none;
        margin: 0 20px;
    }
}