.footer{
    width: 100%;
    background-color: #232536;
}

.footer .container{
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
}

.main-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta{
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    padding: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text{
    color: #fff;
}

.cta__form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.cta__email{
    padding: 14px 25px;
    border: 1px solid #4C4C4C;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.cta__email::placeholder{
    color: #6D6E76;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__text{
    color: #fff;
    opacity: 0.7;
}

.contacts__links a{
    margin-left: 26px;
}
.contacts__links a:first-child{
    margin: 0;
}
.contacts__links--icon{
    height: 16px;
    width: auto;
}

/*-------------------------------
    BREAKPOINT FOR RESPONSIVE 
-------------------------------*/
@media screen and (max-width: 992px){
    .cta{
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding:42px
    }
    .cta__text{
        text-align: center;
    }
    
}
@media screen and (max-width: 520px){
    .cta__form{
        flex-direction: column;
    }
    .footer .navbar__item{
        float: none;
        text-align: center;
        margin: 0;
    }
    .contacts{
        flex-direction: column-reverse;
        gap: 14px;
    }
}
@media screen and (max-width: 650px){
    .main-links{
        flex-direction: column;
    }
    .main-links .logo{
        margin-bottom: 24px;
    }
}