/* ----------------------------------
    HEADER
---------------------------------- */
.header{
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: #232536;
}

.header .container{
    min-height: 80px;
}

.header .container, .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar__icon */
.navbar__icon {
    display: inline-block;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 3;
}
  
.line1, .line2, .line3 {
    width: 24px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.7s all ease;
}
  
.change .line1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .line2 {opacity: 0;}
  
.change .line3 {
    transform: translate(0, -9px) rotate(45deg);
}
/* ----------------------------------
    HEADER !!! END !!!
---------------------------------- */

/* ----------------------------------
    MEDIA BREAKPOINTS !!! END !!!
---------------------------------- */
@media screen and (max-width: 768px){
    .btn--white{
        display: none;
    }
}
@media screen and (max-width: 550px){
    .header .navbar__body{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        z-index: 2;
        opacity: 0;
        visibility: hidden;

        transition: 0.7s all ease;

        padding: 55px 0;
        background-color: #0e0f16f5;
        text-align: center;
    }
    .navbar__body.change{
        width: 250px;
        padding: 55px;
        opacity: 1;
        visibility: visible;
    }
    .header .navbar__link{
        font-size: 24px;
        line-height: 34px;
    }
    .header .navbar__item{
        float: none;
        margin: 24px 0 0;
    }
    .header .navbar__item:first-child{
        margin: 0;
    }
    .navbar__icon{
        display: block;
    }
}
/* ----------------------------------
    MEDIA BREAKPOINTS !!! END !!!
---------------------------------- */