@import url('../style.css');

/* ----------------------------------
    Author Block
---------------------------------- */
.content__header__author{
    background-color: #F4F0F8;
}

.content__header__author .container{ position: relative; }

.author__wrapper{
    padding: 130px 0 120px;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.author__profile-img{
    flex: 0 0 25%;
	position: relative;
	min-height: 300px;
}

.author__profile-img img{
    width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.author__description{ margin: 24px 0; }

.author__links a{ margin-left: 16px; }

.author__links a:first-child{ margin-left: 0; }
/* ----------------------------------
    Author Block !!! END !!!
---------------------------------- */

/* ----------------------------------
    BUTTON LOAD MORE
---------------------------------- */
.content__posts{
    text-align: center;
}
.btn--load-more{
    margin: 64px 0;
}
/* ----------------------------------
    BUTTON LOAD MORE !!! END !!!
---------------------------------- */

/* ----------------------------------
    MEDIA BREAKPOINTS !!! END !!!
---------------------------------- */
@media screen and (max-width: 1000px) {
    .author__title,
    .posts__title{
        font-size: 36px;
        line-height: 48px;
    }
}
@media screen and (max-width: 770px) {
    .author__title{
        font-size: 28px;
        line-height: 36px;
    }
}
@media screen and (max-width: 600px) {
    .author__wrapper{
        flex-direction: column;
    }
    .author__profile-img{
        width: 200px;
    }
}
/* ----------------------------------
    MEDIA BREAKPOINTS !!! END !!!
---------------------------------- */